$btn-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
  border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out !default;
// 按钮其他
$btn-disabled-opacity: 0.65 !default;

$btn-padding-y: 4px !default;
$btn-padding-x: 15px !default;

$btn-padding-y-sm: 2px !default;
$btn-padding-x-sm: 10px !default;

$btn-padding-y-lg: 6.4px !default;
$btn-padding-x-lg: 18px !default;

.k-btn {
  position: relative;
  display: inline-block;
  font-weight: $font-weight;
  line-height: $line-height-base;
  color: $gray-900;
  white-space: nowrap;
  text-align: center;
  vertical-align: middle;
  background-image: none;
  border: $border-width solid transparent;
  outline: none;
  & > span {
    @include flex-col-row-center-gap6;
  }
  &.k-btn-block {
    width: 100%;
  }
  @include button-size(
    $btn-padding-y,
    $btn-padding-x,
    $font-size,
    $border-radius
  );
  cursor: pointer;
  transition: $btn-transition;
  &.disabled,
  &[disabled] {
    cursor: not-allowed;
    opacity: $btn-disabled-opacity;
    box-shadow: none;
    > * {
      pointer-events: none;
    }
  }
  &:focus {
    outline: none;
  }
}

.k-btn-large {
  @include button-size(
    $btn-padding-y-lg,
    $btn-padding-x-lg,
    $font-size-lg,
    $border-radius-lg
  );
}
.k-btn-default {
  @include button-style(
    $white,
    $gray-400,
    $gray-900,
    $white,
    $primary,
    $primary
  );
}
.k-btn-small {
  @include button-size(
    $btn-padding-y-sm,
    $btn-padding-x-sm,
    $font-size-sm,
    $border-radius-sm
  );
}

.k-btn-primary {
  @include button-style($primary, $primary, $white);
}
.k-btn-danger {
  @include button-style($danger, $danger, $white);
}
.k-btn-success {
  @include button-style($success, $success, $white);
}
.k-btn-info {
  @include button-style($gray-600, $gray-600, $white);
}
.k-btn-warning {
  @include button-style($warning, $warning, $white);
}
.k-btn-text {
  background-color: transparent;
  &:hover {
    background-color: $gray-200;
  }
}

.k-btn-link {
  font-weight: $font-weight-normal;
  color: $link-color;
  text-decoration: none;
  box-shadow: none;
  border: none;
  &:hover {
    color: $link-hover-color;
    text-decoration: $link-hover-decoration;
  }
  &:focus,
  &.focus {
    text-decoration: $link-hover-decoration;
    box-shadow: none;
  }
  &:disabled,
  &.disabled {
    color: $gray-600;
    pointer-events: none;
  }
}
