$menu-box-shadow: inset 0 1px 0 rgba($white, 0.15),
  0 1px 1px rgba($black, 0.075) !default;
$arrow-transition: transform 0.2s linear;
$menu-item-active-border-width: 2px !default;
$menu-height: 40px;
$menu-line-height: $menu-height;
$submenu-box-shadow: 0 3px 6px -4px #0000001f, 0 6px 16px #00000014,
  0 9px 28px 8px #0000000d;
$scaleAnimate: scaleAnimate 0.2s linear;
$opactiytoBe: opactiytoBe 0.2s linear;
@mixin borderLine($top, $right, $bottom, $left, $height, $width, $animation) {
  &::after {
    content: "";
    display: block;
    position: absolute;
    left: $left;
    bottom: $bottom;
    right: $right;
    top: $top;
    height: $height;
    width: $width;
    background-color: $primary;
    animation: $animation;
  }
}

.k-menu {
  display: flex;
  flex-wrap: wrap;
  font-size: $font-size;
  padding-left: 0;
  list-style: none;
  .k-menu-item {
    height: $menu-height;
    line-height: $menu-height;
    cursor: pointer;
    transition: all 0.2s;
    & > span {
      @include flex-col-row-center-gap6;
      justify-content: flex-start;
    }
    &.is-disabled {
      color: $gray-500;
      pointer-events: none;
      cursor: default;
    }
    &.is-active,
    &:hover {
      color: $primary;
    }
    .anticon-down,
    .anticon-right {
      font-size: 12px;
      transition: transform 0.2s linear;
    }
  }

  .k-submenu {
    // display: none;
    list-style: none;
    padding-left: 0;
    white-space: nowrap;
    .k-menu-item {
      position: relative;
      cursor: pointer;
      color: $gray-900;
    }
  }
  // .k-submenu.menu-opened {
  //   display: block;
  // }
}
.k-menu-horizontal {
  border-bottom: $border-width solid $border-color;
  > .k-menu-item {
    position: relative;
    box-sizing: border-box;
    &.is-active,
    &:hover {
      @include borderLine(
        "",
        "",
        0,
        0,
        $menu-item-active-border-width,
        100%,
        $opactiytoBe
      );
      color: $primary;
      > .k-submenu-title {
        .anticon-down {
          transform: rotate(180deg);
        }
      }
    }
    > .k-submenu-title {
      @include flex-col-row-center-gap6;
      .anticon-right {
        display: none;
      }
    }
    .k-submenu-item {
      .k-submenu {
        position: absolute;
        top: 0;
        left: 104%;
      }
      .k-submenu-title {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .anticon-down {
          display: none;
        }
      }
    }
    // .k-menu-item {
    //   &:hover {
    //     .anticon-right,
    //     .anticon-down {
    //       transform: rotate(180deg);
    //     }
    //   }
    // }
  }
  .k-submenu {
    position: absolute;
    background: $white;
    min-width: 100%;
    z-index: 100;
    top: calc(100% + 6px);
    left: 0;
    padding: 3px 0;
    box-sizing: border-box;
    box-shadow: $submenu-box-shadow;
    .k-menu-item {
      color: $gray-700;
      &:hover {
        background-color: rgba($gray-500, 0.15);
        // color: $primary;
        > .k-submenu-title {
          .anticon-right {
            transform: rotate(180deg);
          }
        }
      }
    }
  }
}
.k-menu-vertical {
  flex-direction: column;
  border-bottom: 0px;
  border-right: $border-width solid $border-color;
  .k-menu-item {
    &:not(.k-submenu-item).is-active {
      position: relative;
      background-color: rgba($primary, 0.1);
      @include borderLine(
        0,
        0,
        "",
        "",
        100%,
        $menu-item-active-border-width,
        $scaleAnimate
      );
    }
    &:focus {
      background-color: rgba($primary, 0.1);
    }
  }
  .k-submenu {
    background-color: #fafafa;
  }
  .k-submenu-item {
    position: relative;
    padding: 0 !important;
    .k-submenu-title {
      display: flex;
      align-items: center;
      justify-content: space-between;
      background-color: $white;
      span:nth-child(1) {
        transition: $arrow-transition;
      }
      .arrow-rotate {
        transform: rotate(180deg);
      }
    }
  }
}
