@mixin borderLine($top, $right, $bottom, $left, $height, $width) {
  &::after {
    content: "";
    display: block;
    position: absolute;
    left: $left;
    bottom: $bottom;
    right: $right;
    top: $top;
    height: $height;
    width: $width;
    background-color: $menu-item-active-color;
  }
}

.k-menu {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  list-style: none;
  > .k-menu-item {
    padding: $menu-item-padding-y $menu-item-padding-x;
    cursor: pointer;
    transition: $menu-transition;
    &:hover,
    &:focus {
      text-decoration: none;
    }
    &.is-disabled {
      color: $menu-item-disabled-color;
      pointer-events: none;
      cursor: default;
    }
    &.is-active,
    &:hover {
      color: $menu-item-active-color;
    }
  }
  .k-submenu-item {
    position: relative;
    padding: 0;
    background-color: #fafafa;
    .k-submenu-title {
      display: flex;
      align-items: center;
      padding: $menu-item-padding-y $menu-item-padding-x;
      background-color: $white;
    }
    .arrow-icon {
      transition: transform 0.25s ease-in-out;
      margin-left: 3px;
    }
    &:hover {
      .arrow-icon {
        transform: rotate(180deg);
      }
    }
  }
  .is-vertical {
    .arrow-icon {
      transform: rotate(0deg) !important;
    }
  }
  .is-vertical.is-opened {
    .arrow-icon {
      transform: rotate(180deg) !important;
    }
  }
  .k-submenu {
    //display: none;
    list-style: none;
    padding-left: 0;
    white-space: nowrap;
    //transition: $menu-transition;
    .k-menu-item {
      position: relative;
      padding: $menu-item-padding-y $menu-item-padding-x;
      cursor: pointer;
      transition: $menu-transition;
      color: $body-color;
      &.is-active,
      &:hover {
        color: $menu-item-active-color;
      }
      &.is-active {
        background-color: rgba($primary, 0.1);
        @include borderLine(
          0,
          0,
          100%,
          100%,
          100%,
          $menu-item-active-border-width
        );
      }
    }
  }
  .k-submenu.menu-opened {
    //display: block;
  }
}
.k-menu-horizontal {
  border-bottom: $menu-border-width solid $menu-border-color;
  .k-menu-item {
    position: relative;
    box-sizing: border-box;
    &:hover {
      @include borderLine(
        100%,
        100%,
        0,
        0,
        $menu-item-active-border-width,
        100%
      );
    }
    &.is-active {
      @include borderLine(
        100%,
        100%,
        0,
        0,
        $menu-item-active-border-width,
        100%
      );
    }
  }
  .k-submenu {
    position: absolute;
    background: $white;
    z-index: 100;
    top: calc(100% + 8px);
    left: 0;
    border: $menu-border-width solid $menu-border-color;
    box-shadow: $submenu-box-shadow;
  }
}
.k-menu-vertical {
  flex-direction: column;
  border-bottom: 0px;
  margin: 10px 20px;
  border-right: $menu-border-width solid $menu-border-color;
  .k-menu-item {
    &:not(.k-submenu-item).is-active {
      position: relative;
      background-color: rgba($primary, 0.1);
      @include borderLine(
        0,
        0,
        100%,
        100%,
        100%,
        $menu-item-active-border-width
      );
    }
  }
}
