$primary: $primary-color !default;
$success: $success-color !default;
$info: $gray-600 !default;
$warning: $warning-color !default;
$danger: $error-color !default;
$light: $gray-100 !default;
$dark: $gray-800 !default;
$pink: #d63384 !default;

$theme-colors: (
  "primary": $primary,
  "success": $success,
  "info": $info,
  "warning": $warning,
  "danger": $danger,
  "light": $light,
  "dark": $dark,
);

$font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
  "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
  "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
$font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
  "Liberation Mono", "Courier New", monospace !default;
$font-family-base: $font-family-sans-serif !default;

// 字体大小
$font-size: 14px !default; // Assumes the browser default, typically `16px`
$font-size-lg: 16px !default;
$font-size-sm: 12px !default;
$font-weight: 400;

// 字重
$font-weight-lighter: lighter !default;
$font-weight-light: 300 !default;
$font-weight-normal: 400 !default;
$font-weight-bold: 700 !default;
$font-weight-bolder: bolder !default;
$font-weight-base: $font-weight-normal !default;

// 边框 和 border radius
$border-width: 1px !default;
$border-color: $gray-300 !default;
$border-radius: 0.15rem !default;
$border-radius-lg: 0.2rem !default;
$border-radius-sm: 0.1rem !default;

// 行高
$line-height-base: 1.5 !default;
$line-height-lg: 2 !default;
$line-height-sm: 1.25 !default;

// 标题大小
$h1-font-size: $font-size * 2.5 !default;
$h2-font-size: $font-size * 2 !default;
$h3-font-size: $font-size * 1.75 !default;
$h4-font-size: $font-size * 1.5 !default;
$h5-font-size: $font-size * 1.25 !default;
$h6-font-size: $font-size !default;

// Spacing
$spacer: 1rem !default;

// 链接
$linkai-color: $primary !default;
$linkai-decoration: none !default;
$linkai-hover-color: darken($linkai-color, 15%) !default;
$linkai-hover-decoration: underline !default;

// 不同类型的 box shadow
$box-shadow-sm: 0 0.125rem 0.25rem rgba($black, 0.075) !default;
$box-shadow: 0 0.5rem 1rem rgba($black, 0.15) !default;
$box-shadow-lg: 0 1rem 3rem rgba($black, 0.175) !default;
$box-shadow-inset: inset 0 1px 2px rgba($black, 0.075) !default;

// border-color
$border-color-base: #dcdfe6;
$border-color-light: #e4e7ed;
$border-color-lighter: #ebeef5;
$border-color-extra-light: #f2f6fc;